.wait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.loader {
    width: 40px;
    aspect-ratio: 5;
    background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
    margin-left: auto;
    margin-right: auto;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}